<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  
<body class = "bg-blue-900 text-white min-h-screen">
  
  {% include "components/navbar.html.jinja"%}
    
    <main class="bg-gray-200 max-w-13/16 max-h-full mx-auto p-6 mb-5 text-black">

        <div class="max-w-4xl p-6 mb-5 text-black rounded-lg mt-3 flex flex-box justify-normal ">
            <div class= "mr-40 text-center"> 
            <img class="h-85 mx-auto rounded-lg mt-3" src="{{ product ['Image'] }} "> 
            </div>
         
         <h1 class="text-4xl text-center mt-10">
        {{ product ["Name"] }}
        </h1>
        
        </div>
            
        <div class="pl-3 font-bold text-sm">
        {{ product ["Description"]}} 
        </div>
            
            <div class="text-right font-bold text-sm pb-3 pr-3"> ${{ product ["Price"]}} 

            <div class="text-right font-bold text-sm pb-3 pr-3">Ratings:{{ average|round(1) }}</div>
            
             <form method="post" action="/product/{{product['ID']}}/add_to_cart">
              <label>Qty:</label>
              <input type="number" name="quantity" value="1" min="1" max="10"> 
                
                <button type="submit" class="w-full mt-6 mb-3 bg-indigo-800 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans text-white"> 
                Add to Cart
                </button>
            </form>
            
            </div>
    
    </main>


  {% for x in reviews%}

<div class = "grid bg-gray-200 rounded-lg mt-3 font-bold text-black max-w-3xl mb-5">
  
  <div class = "grid grid-cols-4 gap-4 p-3 justify-items-center">
    <div>{{ x ["Name"]}}</div>

    <div>{{ x ["Ratings"]}}</div>

    <div>{{ x ["Timestamp"].strftime('%-m-%-d-%Y')}}</div>

    <div>{{ x ["Comments"]}}</div>

  </div>
  
  {%endfor%}
</div>

<form class="" method="post" action="/product/{{product['ID']}}/add_review">
<br>

<label>Rating</label>
  <input type="number" name="rating" value="1" min="1" max="5"> <br> <br>

<label>Comment</label> <br>
  <textarea name="comments"></textarea> 

<button type="submit" class="w-full mt-6 mb-3 bg-indigo-800 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans text-white"> 
  Submit Review
  </button>







  </form>


</body>
</html>