<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class = "bg-blue-900 text-white min-h-screen">
  {% include "components/navbar.html.jinja"%}

    {% for message in get_flashed_messages()%}
        <ol class="bg-red-500 text-white font-bold rounded-t px-4 py-2 mt-4 mx-10">
         {{ message }}
        </ol>
    {% endfor%}

    <h1 class="text-4xl text-center mt-10">
      Sign Up for an Account Here!
    </h1>
    
<div class="h-screen bg-indigo-400 flex justify-center items-center mt-10 mr-10 ml-10 rounded-lg">
	<div class="lg:w-2/5 md:w-1/2 w-2/3">

		<form method="post" class="bg-white p-10 rounded-lg shadow-lg min-w-full">
			<h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Sign Up</h1>
			<div>
				
                <label class="text-gray-800 font-semibold block my-3 text-md" for="name">Name</label>
				<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none text-black" required type="text" name="name" id="name" placeholder="Name" />

      </div>
				<div>
					
                    <label class="text-gray-800 font-semibold block my-3 text-md" for="email">Email</label>
					<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none text-black" required type="email" name="email" id="email" placeholder="@Email" />

      </div>
					<div>
						
                        <label class="text-gray-800 font-semibold block my-3 text-md" for="password">Password</label>
						<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none text-black" required type="password" name="password" id="password" placeholder="Password" />

      </div>
						<div>
							
                            <label class="text-gray-800 font-semibold block my-3 text-md" for="confirm">Confirm password</label>
							<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none text-black" required type="password" name="confirm" id="confirm" placeholder="Confirm Password" />

      </div>
      
      <div>
							
                            <label class="text-gray-800 font-semibold block my-3 text-md" for="confirm">Address</label>
							<input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none text-black" required type="text" name="address" id="address" placeholder="Address" />

      </div>
							
                            <button type="submit" class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Register</button>
							<a href="/login" class="w-full mt-6 bg-indigo-100 rounded-lg px-55.5 py-2.5 text-lg text-black tracking-wide font-semibold font-sans">Login</a>

		</form>

	</div>
</div>
    
  </body>
</html>